{% extends 'base.html' %}
{% block title %} Order Detail {% endblock %}

{% block content %}
    <h3> {{ order.invoice.cart.service }} </h3>
    <br><br>
    <p> status : {{ order.get_status_display }} </p>
    <p> order date time : {{ order.created_time }} </p>
    <p> address : {{ order.invoice.address.state.name }} - {{ order.invoice.address.city.name }}
        - {{ order.invoice.address.area.name }} - {{ order.invoice.address.street }}
        - {{ order.invoice.address.alley }} - {{ order.invoice.address.floor }}
        - {{ order.invoice.address.plaque }}
    </p>
    <br><br>
    <table class="table table-warning">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>

        {% for line in order.invoice.cart.lines.all %}
            <tr>
                <td>{{ line.item }}</td>
                <td>{{ line.quantity }}</td>
                <td>$ {{ line.price }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h5 class="text-black">Total price : {{ order.invoice.price }}</h5>

{% endblock %}