{% extends 'base.html' %}
{% block content %}
    <div>
        <h4 class="text-warning">Service Detail</h4>
        <p>Service name : {{ service.name }}</p>
        <p>Service minimum purchase : {{ service.minimum_purchase }}</p>
        <p>Service minimum purchase : {{ service.get_service_type_display }}</p>
        <br>
        <hr>
        <div style="margin-top: 20px; margin-bottom: 20px">
            <h4 class="text-warning">Service Address</h4>
            {% if service.address %}
                <p>state : {{ service.address.state.name }}</p>
                <p>city : {{ service.address.city.name }}</p>
                <p>area : {{ service.address.area.name }}</p>
                <p>street : {{ service.address.street }}</p>
                <p>alley : {{ service.address.alley }}</p>
                <p>floor : {{ service.address.floor }}</p>
                <p>plaque : {{ service.address.plaque }}</p>
                <a href="{% url 'address:service-address-update' service.address.pk %}">Update Address</a>
            {% else %}
                <p>Your service yet not has address!<a
                        href="{% url 'address:service-address-create' service.pk %}">Create Address</a></p>
            {% endif %}
        </div>
        <hr>
        <div class="service-category" style="margin-top: 20px; margin-bottom: 20px">
            <h4 class="text-warning">Service Categories</h4>
            <br><br>
            <a href="{% url 'service:service-category-create' service.pk %}">Create new category</a>
            <br><br>
            <ul class="list-group">
                {% for category in service.categories.all %}
                    <li class="list-group-item">
                        {{ category.name }}
                        <div align="right">
                            <a href="{% url 'service:service-category-update' category.pk %}" class="btn btn-warning"
                               style="margin-right: 10px">Update</a>
                            <a href="{% url 'service:service-category-detail' category.pk %}" class="btn btn-primary"
                               style="margin-right: 10px">Detail</a>
                            <a href="{% url 'service:service-category-delete' category.pk %}"
                               class="btn btn-danger">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <div class="delivery-area" style="margin-top: 20px; margin-bottom: 20px">
            <h4 class="text-warning">Service Delivery Area</h4>
            <br>
            <br>
            <a href="{% url 'service:delivery-area-create' service.pk %}"> Create new delivery area</a>
            <br>
            <br>
            {% with deliveries=service.delivery_areas.all %}
                {% if deliveries %}
                    {% for delivery in deliveries %}
                        <li class="list-group-item">
                            {{ delivery.area.name }}
                            <div align="right">
                                <a href="{% url 'service:delivery-area-update' delivery.pk %}" class="btn btn-warning" style="margin-right: 10px">Update</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </li>
                    {% endfor %}

                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
