{% extends 'accounts/base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
    <h4 class="text-warning"> Profile</h4>
    <p>Phone number : {{ request.user.phone_number }}</p>
    <p>First name : {{ request.user.first_name }}</p>
    <p>Last name : {{ request.user.last_name }}</p>
    <br>
    <a href="{% url 'accounts:customer-profile-update' %}">Update profile</a><br><br>

    {% if not request.user.password %}
        <a href="{% url 'accounts:customer-set-password' %}">Set password</a>
        <br><br>
    {% else %}
        <a href="{% url 'accounts:customer-change-password' %}">Change password</a>
        <br><br>
    {% endif %}
    <a href="{% url 'accounts:customer-logout' %}">Logout</a>

{% endblock %}