{% extends 'base.html' %}
{% block title %} {{ item.name }} {% endblock %}
{% block content %}
    <h4 class="text-warning"> {{ item.name }}</h4>
    <p>Category : {{ item.category.name }}</p>
    {% if item.image %}
        <img style="max-width: 350px; margin-bottom: 10px" class="img" src="{{ item.image.url }}"
             alt="{{ item.name }} image">
    {% endif %}
    <p>Description : {{ item.description }}</p>
    <p>Price : {{ item.price }}</p>
    <a href="#" class="btn btn-success">Add to cart</a><br><br>
    <a href="{% url 'item:list'  item.service.pk %}"
       class="btn btn-warning">Back to List</a>
{% endblock %}