{% load accounts_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %} {% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body  style="background-color: #ebebeb;height: 100% ;">

{% is_customer request.user as customer_flag %}
{% is_service_provider request.user as service_provider_flag %}
{% is_admin_user request.user as admin_flag %}


{% if service_provider_flag %}
    {% include 'inc/service_provider_navbar.html' %}
{% elif customer_flag %}
    {% include 'inc/customer_navbar.html' %}
{% elif admin_flag %}
    {% include 'inc/admin_navbar.html' %}
{% else %}
    {% include 'inc/customer_navbar.html' %}
{% endif %}
{% block banner %}{% endblock %}

<div">
    <div class="container pt-5" style="font-family: Cantarell;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>