<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; height: 80px">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: deeppink" href="{% url 'service:service-list' %}"><b>Yummy</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:customer-profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order:customer-list' %}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'address:customer-address-list' %}">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:customer-logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:customer-login-register' %}">Sign up/Login</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" style="color: deeppink; border: 1px solid deeppink" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>